<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Dao.ProxyReferrerAwardMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.Entity.ProxyReferrerAward" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="direct" property="direct" jdbcType="DOUBLE" />
    <result column="indirect" property="indirect" jdbcType="DOUBLE" />
    <result column="doubleIndirect" property="doubleindirect" jdbcType="DOUBLE" />
    <result column="tripleIndirect" property="tripleindirect" jdbcType="DOUBLE" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, direct, indirect, doubleIndirect, tripleIndirect, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.Entity.ProxyReferrerAwardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_proxy_referrer_award
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_proxy_referrer_award
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_proxy_referrer_award
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.Entity.ProxyReferrerAwardExample" >
    delete from sys_proxy_referrer_award
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.Entity.ProxyReferrerAward" >
    insert into sys_proxy_referrer_award (id, direct, indirect, 
      doubleIndirect, tripleIndirect, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{direct,jdbcType=DOUBLE}, #{indirect,jdbcType=DOUBLE}, 
      #{doubleindirect,jdbcType=DOUBLE}, #{tripleindirect,jdbcType=DOUBLE}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Entity.ProxyReferrerAward" >
    insert into sys_proxy_referrer_award
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="direct != null" >
        direct,
      </if>
      <if test="indirect != null" >
        indirect,
      </if>
      <if test="doubleindirect != null" >
        doubleIndirect,
      </if>
      <if test="tripleindirect != null" >
        tripleIndirect,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="direct != null" >
        #{direct,jdbcType=DOUBLE},
      </if>
      <if test="indirect != null" >
        #{indirect,jdbcType=DOUBLE},
      </if>
      <if test="doubleindirect != null" >
        #{doubleindirect,jdbcType=DOUBLE},
      </if>
      <if test="tripleindirect != null" >
        #{tripleindirect,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_proxy_referrer_award
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.direct != null" >
        direct = #{record.direct,jdbcType=DOUBLE},
      </if>
      <if test="record.indirect != null" >
        indirect = #{record.indirect,jdbcType=DOUBLE},
      </if>
      <if test="record.doubleindirect != null" >
        doubleIndirect = #{record.doubleindirect,jdbcType=DOUBLE},
      </if>
      <if test="record.tripleindirect != null" >
        tripleIndirect = #{record.tripleindirect,jdbcType=DOUBLE},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_proxy_referrer_award
    set id = #{record.id,jdbcType=INTEGER},
      direct = #{record.direct,jdbcType=DOUBLE},
      indirect = #{record.indirect,jdbcType=DOUBLE},
      doubleIndirect = #{record.doubleindirect,jdbcType=DOUBLE},
      tripleIndirect = #{record.tripleindirect,jdbcType=DOUBLE},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.Entity.ProxyReferrerAward" >
    update sys_proxy_referrer_award
    <set >
      <if test="direct != null" >
        direct = #{direct,jdbcType=DOUBLE},
      </if>
      <if test="indirect != null" >
        indirect = #{indirect,jdbcType=DOUBLE},
      </if>
      <if test="doubleindirect != null" >
        doubleIndirect = #{doubleindirect,jdbcType=DOUBLE},
      </if>
      <if test="tripleindirect != null" >
        tripleIndirect = #{tripleindirect,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.Entity.ProxyReferrerAward" >
    update sys_proxy_referrer_award
    set direct = #{direct,jdbcType=DOUBLE},
      indirect = #{indirect,jdbcType=DOUBLE},
      doubleIndirect = #{doubleindirect,jdbcType=DOUBLE},
      tripleIndirect = #{tripleindirect,jdbcType=DOUBLE},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>